<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Crime File Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="/visitor">USER</a></li>
                <li><a href="/admin">INVESTIGATOR</a></li>
                <li><a href="/register">REGISTER</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="right-aligned">ONLINE CRIME FILE MANAGEMENT SYSTEM</h1>
        <section id="about" class="about-box">
            <h2>About</h2>
            <p>The "Online Crime File Management System" is an innovative web application developed using Python designed and MySQL to enhance the efficiency and effectiveness of law enforcement agencies in handling crime-related data. The system caters to both users and investigators, enabling the process of registering complaints, managing witnesses, tracking missing individuals, and handling crucial information about wanted criminals.</p>
        </section>
    </main>
</body>
</html>
